@model GOTPlaner.Models.Tour

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Budowanie planu wycieczki</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Tours" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label"></label>
                <input placeholder="Punkt początkowy" id="input1" class="form-control" />
                <span class="text-danger"></span>
                <label for="ownPointCheckbox1">Własny punkt: </label>
                <input type="checkbox" id="ownPointCheckbox1" onclick="showOwnPointInputs(this)"/>
            </div>
            <div class="form-group">
                <button disabled="disabled" type="button" id="addPoint" class="btn btn-disabled">
                  Dodaj kolejny punkt
                </button>
                <button disabled="disabled" type="button" onclick="sendFormDataToServer()" id="addTour" class="btn btn-disabled">
					Utwórz plan wycieczki
				</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        "use strict";

$.ajaxSetup({
    async: false
});

let formData = [];

function getAllMountainRanges() {
    let json;
    $.getJSON('https://localhost:5001/api/MountainRanges', function(data) {
        json = data;
    });

    return json;
}
let allMountainRanges = getAllMountainRanges();


let currentPointsIds = {};
let currentPointsPointAdvantage = {};
let currentPointsMountainRangeIds = {};
let currentPointsMountainRangeNames = {};
let currentPointsNames = [];
let currentPointsNamesOnly = [];

function getAllTouristPoints() {
    var json;
    $.getJSON('https://localhost:5001/api/TouristPoints', function (data) {
        json = data;
    });
    currentPointsIds = {};
    currentPointsMountainRangeIds = {};
    currentPointsPointAdvantage = {};
    currentPointsNames = [];
    currentPointsNamesOnly = {};
    for (let i = 0; i < json.length; i++) {
        currentPointsIds[json[i].apiName] = json[i].id;
        currentPointsMountainRangeIds[json[i].apiName] = json[i].mountainRangeId;
        currentPointsNames[i] = json[i].apiName;
        currentPointsNamesOnly[json[i].apiName] = json[i].name;
    }
    return json.map(function(pointDto) {
        return pointDto.apiName;
    });
}

function getAllTouristPointsPossibleFromSpecificTouristPoint(id) {
    let json;
    $.getJSON('https://localhost:5001/api/TouristPointsPossibleFromPoint?pointId=' + id, function (data) {
        console.log(data);
        json = data;
    });
    currentPointsIds = {};
    currentPointsMountainRangeIds = {};
    currentPointsPointAdvantage = {};
    currentPointsNames = [];
    currentPointsNamesOnly = {};
    for (let i = 0; i < json.length; i++) {
        currentPointsIds[json[i].touristPointDto.apiName + " | " + json[i].pointsToGain] = json[i].touristPointDto.id;
        currentPointsMountainRangeIds[json[i].touristPointDto.apiName + " | " + json[i].pointsToGain] = json[i].touristPointDto.mountainRangeId;
        currentPointsPointAdvantage[json[i].touristPointDto.apiName + " | " + json[i].pointsToGain] = json[i].pointsToGain;
        currentPointsNames[i] = json[i].touristPointDto.apiName + " | " + json[i].pointsToGain;
        currentPointsNamesOnly[json[i].touristPointDto.apiName + " | " + json[i].pointsToGain] = json[i].touristPointDto.name;
    }
    return json.map(function(pointInfo) {
        return pointInfo.touristPointDto.apiName + " | " + pointInfo.pointsToGain;
    });
}

let autocomplete = (inp, arr) => {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  let currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
    let a, //OUTER html: variable for listed content with html-content
      b, // INNER html: filled with array-Data and html
      i, //Counter
      val = this.value;

    /*close any already open lists of autocompleted values*/
    closeAllLists();

    if (!val) {
      return false;
    }

    currentFocus = -1;

    /*create a DIV element that will contain the items (values):*/
    a = document.createElement("DIV");
    
    a.setAttribute("id", this.id + "autocomplete-list");
    a.setAttribute("class", "autocomplete-items list-group text-left");
    
    /*append the DIV element as a child of the autocomplete container:*/
    console.log(inp);
    insertAfter(a, inp);
    //this.parentNode.appendChild(a);
    //lastElement = a;

    /*for each item in the array...*/
    for (i = 0; i < arr.length; i++) {
      /*check if the item starts with the same letters as the text field value:*/
      if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
        /*create a DIV element for each matching element:*/
        b = document.createElement("DIV");
        b.setAttribute("class","list-group-item list-group-item-action");
        /*make the matching letters bold:*/
        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
        b.innerHTML += arr[i].substr(val.length);
        /*insert a input field that will hold the current array item's value:*/
        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
        /*execute a function when someone clicks on the item value (DIV element):*/
        b.addEventListener("click", function(e) {
          /*insert the value for the autocomplete text field:*/
          inp.value = this.getElementsByTagName("input")[0].value;
          inp.dispatchEvent(new Event('input'));
          /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
          closeAllLists();
        });
        a.appendChild(b);
      }
    }
  });
  
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
    var x = document.getElementById(this.id + "autocomplete-list");
    if (x) x = x.getElementsByTagName("div");
    if (e.keyCode == 40) {
      /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
      currentFocus++;
      /*and and make the current item more visible:*/
      addActive(x);
    } else if (e.keyCode == 38) {
      //up
      /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
      currentFocus--;
      /*and and make the current item more visible:*/
      addActive(x);
    } else if (e.keyCode == 13) {
      /*If the ENTER key is pressed, prevent the form from being submitted,*/
      e.preventDefault();
      if (currentFocus > -1) {
        /*and simulate a click on the "active" item:*/
        if (x) x[currentFocus].click();
      }
    }
  });
  
  let addActive = (x) => {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = x.length - 1;
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("active");
  }
  
  let removeActive = (x) => {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (let i = 0; i < x.length; i++) {
      x[i].classList.remove("active");
    }
  }
  
  let closeAllLists = (elmnt) => {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function(e) {
    closeAllLists(e.target);
  });
  
};

var state = 0;
var previousInput = document.getElementById("input1");
let previousInputValue = "";
let lastInput = document.getElementById("input1");
let lastElement = document.getElementById("ownPointCheckbox1");
let createAnotherPointButton = document.getElementById("addPoint");
let createTourButton = document.getElementById("addTour");
let numberOfPointsInfo;
let checkboxOwn = document.getElementById("ownPointCheckbox1");
let mountainRangeSelect;
let numberOfKilometersInput;
let levelDifferenceInput;
let currentlyAvailablePoints = [{"point" : "Prełuki", "points" : 0}, {"point" : "Dadada", "points" : 0}, {"point" : "Bebebe", "points" : 0}]
var currentIndex = 0;
let ownPoint = false;
let forcedKilometersInput = false;
let isLastPointOwn = false;

lastInput.addEventListener('input', changeState);
createAnotherPointButton.addEventListener('click', addNewInput);

initialize(lastInput);

function initialize(input) {
	let data = currentIndex == 0 || input == undefined || isLastPointOwn ? getAllTouristPoints() : getAllTouristPointsPossibleFromSpecificTouristPoint(previousInputValue);
    console.log(data);
	autocomplete(input, data);
}

function extractNumberFromString(value) {
	return value.match(/[0-9]+/g);
}

function changeState(e) {
        console.log(e.target.value);
		if (e.target.value.length != 0) {
            if (currentPointsNames.includes(e.target.value)) {
			    createAnotherPointButton.removeAttribute("disabled");
			    createAnotherPointButton.setAttribute("enabled", "enabled");
			    createAnotherPointButton.removeAttribute("class");
			    createAnotherPointButton.setAttribute("class", "btn btn-primary");
			    if (currentIndex > 0) {
				    createTourButton.removeAttribute("disabled");
				    createTourButton.setAttribute("enabled", "enabled");
				    createTourButton.removeAttribute("class");
				    createTourButton.setAttribute("class", "btn btn-success");
			    }
                checkboxOwn.removeAttribute("checked");
                checkboxOwn.setAttribute("disabled", "disabled");
            }
            else {
                createAnotherPointButton.removeAttribute("enabled");
			    createAnotherPointButton.setAttribute("disabled", "disabled");
			    createAnotherPointButton.removeAttribute("class");
			    createAnotherPointButton.setAttribute("class", "btn btn-disabled");
			    if (currentIndex > 0) {
				    createTourButton.removeAttribute("enabled");
				    createTourButton.setAttribute("disabled", "disabled");
				    createTourButton.removeAttribute("class");
				    createTourButton.setAttribute("class", "btn btn-disabled");
			    }
                checkboxOwn.removeAttribute("disabled");
            }
		}
		else {
			createAnotherPointButton.removeAttribute("enabled");
			createAnotherPointButton.setAttribute("disabled", "disabled");
			createAnotherPointButton.removeAttribute("class");
			createAnotherPointButton.setAttribute("class", "btn btn-disabled");
			if (currentIndex > 0) {
				createTourButton.removeAttribute("enabled");
				createTourButton.setAttribute("disabled", "disabled");
				createTourButton.removeAttribute("class");
				createTourButton.setAttribute("class", "btn btn-disabled");
			}
		}
}

function addToFormData() {
    let id = checkboxOwn.checked ? 0 : currentPointsIds[lastInput.value];
    let name = checkboxOwn.checked ? lastInput.value : currentPointsNamesOnly[lastInput.value];
    let pointsForItem;
    if ((checkboxOwn.checked && numberOfKilometersInput != undefined || isLastPointOwn) && currentIndex != 0) {
        let numberOfKilometersPoints = parseInt(numberOfKilometersInput.value);
        let levelOfDifferencePoints = Math.floor(parseInt(levelDifferenceInput.value) / 100 + (parseInt(levelDifferenceInput.value) % 100 >= 51 ? 1 : 0))
        pointsForItem = parseInt(numberOfKilometersInput.value) + levelOfDifferencePoints;
    }
    formData[currentIndex] = {
        touristPointId : id,
        touristPointName : name,
        currentPoints : checkboxOwn.checked || numberOfKilometersInput != undefined || (isLastPointOwn && currentIndex != 0) ? pointsForItem : currentPointsPointAdvantage[lastInput.value],
        ownPoint : checkboxOwn.checked,
        numberOfKilometers : numberOfKilometersInput != undefined ? numberOfKilometersInput.value : undefined,
        levelDifference : levelDifferenceInput != undefined ? levelDifferenceInput.value : undefined,
        mountainRangeId : checkboxOwn.checked ? mountainRangeSelect.value : currentPointsMountainRangeIds[lastInput.value]
    };
}

function sendFormDataToServer() {
    // we should also add last entered point to form data
    addToFormData();

    $(function() {
        $.ajax({
            type: "POST",
            data: JSON.stringify(formData),
            url: "/api/Tours/Create",
            contentType: "application/json",
            success: function(result, status) {
                if (result.statusCode == 200) {
                    alert("Wycieczka została dodana do systemu!");
                }
                else {
                    alert("Wystąpił nieoczekiwany błąd");
                }
            },
            error: function(error) {
                alert("Wystąpił nieoczekiwany błąd");
            }
        });
    });
}

function addNewInput() {
    addToFormData();
    if (checkboxOwn != undefined) {
        isLastPointOwn = checkboxOwn.checked ? true : false;
    }
    previousInputValue = currentPointsIds[lastInput.value];
	var newInput = document.createElement("input");
	newInput.type = "text";
	newInput.id = "input" + (++currentIndex);
	newInput.placeholder = "Kolejny punkt";
	newInput.setAttribute("class", "form-control");
	insertAfter(newInput, lastElement);
	lastInput.removeEventListener('change', changeState);
	lastInput.setAttribute("disabled", "disabled");
	lastInput = newInput;
	lastElement = lastInput;
	newInput.addEventListener('input', changeState);
	initialize(newInput);

    console.log(checkboxOwn);

	let ownPointCheckbox = document.createElement("input");
	ownPointCheckbox.type = "checkbox";
	ownPointCheckbox.id = "ownPointCheckbox" + currentIndex;
	ownPointCheckbox.setAttribute("onclick", "showOwnPointInputs(this)");
	let ownPointCheckboxLabel = document.createElement("label");
	ownPointCheckboxLabel.setAttribute("for", ownPointCheckbox.getAttribute("id"));
	ownPointCheckboxLabel.textContent = "Własny punkt: ";
    if (isLastPointOwn) {
        forcedKilometersInput = true;
    }
    else {
        forcedKilometersInput = false;
    }
    checkboxOwn.setAttribute("disabled", "disabled");
    checkboxOwn = ownPointCheckbox;
	insertAfter(ownPointCheckboxLabel, lastElement);
	lastElement = ownPointCheckboxLabel;
	insertAfter(ownPointCheckbox, lastElement);
	lastElement = ownPointCheckbox;
    if (forcedKilometersInput) {
        showKilometersAndSumDifferenceInputs();
    }

	createAnotherPointButton.removeAttribute("enabled");
	createAnotherPointButton.setAttribute("disabled", "disabled");
	createAnotherPointButton.removeAttribute("class");
	createAnotherPointButton.setAttribute("class", "btn btn-disabled");

	createTourButton.removeAttribute("enabled");
	createTourButton.setAttribute("disabled", "disabled");
	createTourButton.removeAttribute("class");
	createTourButton.setAttribute("class", "btn btn-disabled");

	//currentIndex++;
}

function showKilometersAndSumDifferenceInputs() {
    		numberOfKilometersInput = document.createElement("input");
		    numberOfKilometersInput.type = "text";
            numberOfKilometersInput.pattern = "[0-9]+"
		    numberOfKilometersInput.id = "numberOfKilometers" + currentIndex;
            numberOfKilometersInput.placeholder = "Liczba kilometrów";
            numberOfKilometersInput.addEventListener('click', function(e) {
                if (e.target.value.length > 0 && levelDifferenceInput.value.length > 0) {
                    createAnotherPointButton.removeAttribute("disabled");
			        createAnotherPointButton.setAttribute("enabled", "enabled");
			        createAnotherPointButton.removeAttribute("class");
			        createAnotherPointButton.setAttribute("class", "btn btn-primary");
			        if (currentIndex > 0) {
				    createTourButton.removeAttribute("disabled");
				    createTourButton.setAttribute("enabled", "enabled");
				    createTourButton.removeAttribute("class");
				    createTourButton.setAttribute("class", "btn btn-success");
			        }
                }
                else {
                    createAnotherPointButton.removeAttribute("enabled");
			        createAnotherPointButton.setAttribute("disabled", "disabled");
			        createAnotherPointButton.removeAttribute("class");
			        createAnotherPointButton.setAttribute("class", "btn btn-disabled");
			        if (currentIndex > 0) {
				        createTourButton.removeAttribute("enabled");
				        createTourButton.setAttribute("disabled", "disabled");
				        createTourButton.removeAttribute("class");
				        createTourButton.setAttribute("class", "btn btn-disabled");
			        }
                }
            });
		    levelDifferenceInput = document.createElement("input");
		    levelDifferenceInput.type = "text";
		    levelDifferenceInput.id = "levelDifferenceInput" + currentIndex;
            levelDifferenceInput.pattern = "[0-9]+";
            levelDifferenceInput.placeholder = "Suma różnic poziomów";
            levelDifferenceInput.addEventListener('click', function(e) {
                if (e.target.value.length > 0 && numberOfKilometersInput.value.length > 0) {
                    createAnotherPointButton.removeAttribute("disabled");
			        createAnotherPointButton.setAttribute("enabled", "enabled");
			        createAnotherPointButton.removeAttribute("class");
			        createAnotherPointButton.setAttribute("class", "btn btn-primary");
			        if (currentIndex > 0) {
				    createTourButton.removeAttribute("disabled");
				    createTourButton.setAttribute("enabled", "enabled");
				    createTourButton.removeAttribute("class");
				    createTourButton.setAttribute("class", "btn btn-success");
			        }
                }
                else {
                    createAnotherPointButton.removeAttribute("enabled");
			        createAnotherPointButton.setAttribute("disabled", "disabled");
			        createAnotherPointButton.removeAttribute("class");
			        createAnotherPointButton.setAttribute("class", "btn btn-disabled");
			        if (currentIndex > 0) {
				        createTourButton.removeAttribute("enabled");
				        createTourButton.setAttribute("disabled", "disabled");
				        createTourButton.removeAttribute("class");
				        createTourButton.setAttribute("class", "btn btn-disabled");
			        }
                }
            });
		    insertAfter(numberOfKilometersInput, lastElement);
		    insertAfter(levelDifferenceInput, numberOfKilometersInput);

		    lastElement = levelDifferenceInput;
}

function showOwnPointInputs(checkbox) {
	if (checkbox.checked && !forcedKilometersInput) {
        ownPoint = true;
		mountainRangeSelect = lastElement == mountainRangeSelect ? mountainRangeSelect : document.createElement("select");
		mountainRangeSelect.id = lastElement == mountainRangeSelect ? mountainRangeSelect.id : "mountainRange" + currentIndex;
        if (lastElement != mountainRangeSelect) {
        for (const val of allMountainRanges) {
            let option = document.createElement("option");
            option.value = val.mountainRangeId;
            option.text = val.name;
            mountainRangeSelect.appendChild(option);
        }
        }
        console.log("Before insert after");
        insertAfter(mountainRangeSelect, checkbox);
        console.log("After insert after");
        if (currentIndex > 0) {
		    numberOfKilometersInput = document.createElement("input");
		    numberOfKilometersInput.type = "text";
            numberOfKilometersInput.pattern = "[0-9]+"
		    numberOfKilometersInput.id = "numberOfKilometers" + currentIndex;
            numberOfKilometersInput.placeholder = "Liczba kilometrów";
            numberOfKilometersInput.addEventListener('change', function(e) {
                if (e.target.value.length > 0 && levelDifferenceInput.value.length > 0 && checkboxOwn.checked) {
                    createAnotherPointButton.removeAttribute("disabled");
			        createAnotherPointButton.setAttribute("enabled", "enabled");
			        createAnotherPointButton.removeAttribute("class");
			        createAnotherPointButton.setAttribute("class", "btn btn-primary");
			        if (currentIndex > 0) {
				    createTourButton.removeAttribute("disabled");
				    createTourButton.setAttribute("enabled", "enabled");
				    createTourButton.removeAttribute("class");
				    createTourButton.setAttribute("class", "btn btn-success");
			        }
                }
                else {
                    createAnotherPointButton.removeAttribute("enabled");
			        createAnotherPointButton.setAttribute("disabled", "disabled");
			        createAnotherPointButton.removeAttribute("class");
			        createAnotherPointButton.setAttribute("class", "btn btn-disabled");
			        if (currentIndex > 0) {
				        createTourButton.removeAttribute("enabled");
				        createTourButton.setAttribute("disabled", "disabled");
				        createTourButton.removeAttribute("class");
				        createTourButton.setAttribute("class", "btn btn-disabled");
			        }
                }
            });
		    levelDifferenceInput = document.createElement("input");
		    levelDifferenceInput.type = "text";
		    levelDifferenceInput.id = "levelDifferenceInput" + currentIndex;
            levelDifferenceInput.pattern = "[0-9]+";
            levelDifferenceInput.placeholder = "Suma różnic poziomów";
            levelDifferenceInput.addEventListener('change', function(e) {
                if (e.target.value.length > 0 && numberOfKilometersInput.value.length > 0 && checkboxOwn.checked) {
                    createAnotherPointButton.removeAttribute("disabled");
			        createAnotherPointButton.setAttribute("enabled", "enabled");
			        createAnotherPointButton.removeAttribute("class");
			        createAnotherPointButton.setAttribute("class", "btn btn-primary");
			        if (currentIndex > 0) {
				    createTourButton.removeAttribute("disabled");
				    createTourButton.setAttribute("enabled", "enabled");
				    createTourButton.removeAttribute("class");
				    createTourButton.setAttribute("class", "btn btn-success");
			        }
                }
                else {
                    createAnotherPointButton.removeAttribute("enabled");
			        createAnotherPointButton.setAttribute("disabled", "disabled");
			        createAnotherPointButton.removeAttribute("class");
			        createAnotherPointButton.setAttribute("class", "btn btn-disabled");
			        if (currentIndex > 0) {
				        createTourButton.removeAttribute("enabled");
				        createTourButton.setAttribute("disabled", "disabled");
				        createTourButton.removeAttribute("class");
				        createTourButton.setAttribute("class", "btn btn-disabled");
			        }
                }
            });
		    insertAfter(numberOfKilometersInput, mountainRangeSelect);
		    insertAfter(levelDifferenceInput, numberOfKilometersInput);

		    lastElement = levelDifferenceInput;
        }
        else {
            createAnotherPointButton.removeAttribute("disabled");
			createAnotherPointButton.setAttribute("enabled", "enabled");
			createAnotherPointButton.removeAttribute("class");
			createAnotherPointButton.setAttribute("class", "btn btn-primary");
			if (currentIndex > 0) {
			createTourButton.removeAttribute("disabled");
			createTourButton.setAttribute("enabled", "enabled");
			createTourButton.removeAttribute("class");
			createTourButton.setAttribute("class", "btn btn-success");
			}
   //         createAnotherPointButton.removeAttribute("enabled");
			//createAnotherPointButton.setAttribute("disabled", "disabled");
			//createAnotherPointButton.removeAttribute("class");
			//createAnotherPointButton.setAttribute("class", "btn btn-disabled");
			//if (currentIndex > 0) {
			//	createTourButton.removeAttribute("enabled");
			//	createTourButton.setAttribute("disabled", "disabled");
			//	createTourButton.removeAttribute("class");
			//	createTourButton.setAttribute("class", "btn btn-disabled");
			//}
            lastElement = mountainRangeSelect;
        }
	}
	else if (!checkbox.checked  && !forcedKilometersInput) {
        createAnotherPointButton.removeAttribute("enabled");
		createAnotherPointButton.setAttribute("disabled", "disabled");
		createAnotherPointButton.removeAttribute("class");
		createAnotherPointButton.setAttribute("class", "btn btn-disabled");
        createTourButton.removeAttribute("enabled");
		createTourButton.setAttribute("disabled", "disabled");
		createTourButton.removeAttribute("class");
		createTourButton.setAttribute("class", "btn btn-disabled");
        ownPoint = false;
		let mountainRangeSelect = document.getElementById("mountainRange" + currentIndex);
		mountainRangeSelect.remove();
		let numberOfKilometersInput = document.getElementById("numberOfKilometers" + currentIndex);
        if (numberOfKilometersInput != undefined) {
		    numberOfKilometersInput.remove();
        }
		let levelDifferenceInput = document.getElementById("levelDifferenceInput" + currentIndex);
        if (levelDifferenceInput != undefined) {
		    levelDifferenceInput.remove();
        }
		lastElement = checkbox;
	}
}

function validateCurrentInputValue() {
	
}

function insertAfter(newNode, referenceNode) {
    console.log(newNode);
    console.log(referenceNode);
    referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
}
    </script>

}
