@using GOTPlaner.ViewModels
@model CreateSegmentViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Dodawanie Odcinka</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PointA" class="control-label">Punkt A</label>
                <input asp-for="PointA" id="PointA" class="form-control" />
                <span asp-validation-for="PointA" class="text-danger"></span>
                <label asp-for="MountainRangeAId" class="control-label">Pasmo górskie: </label>
                <select asp-for="MountainRangeAId" asp-items="@(new SelectList(Model.MountainRanges, nameof(MountainRange.MountainRangeId), nameof(MountainRange.Name)))">
                    <option>Please select one</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PointB" class="control-label">Punkt B</label>
                <input asp-for="PointB" class="form-control" />
                <span asp-validation-for="PointB" class="text-danger"></span>
                <label asp-for="MountainRangeBId" class="control-label">Pasmo górskie: </label>
                <select asp-for="MountainRangeBId" asp-items="@(new SelectList(Model.MountainRanges, nameof(MountainRange.MountainRangeId), nameof(MountainRange.Name)))">
                    <option>Please select one</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="PointsAB" class="control-label"></label>
                <input asp-for="PointsAB" class="form-control" />
                <span asp-validation-for="PointsAB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointsBA" class="control-label"></label>
                <input asp-for="PointsBA" class="form-control" />
                <span asp-validation-for="PointsBA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LevelDifferenceSum" class="control-label"></label>
                <input asp-for="LevelDifferenceSum" class="form-control" />
                <span asp-validation-for="LevelDifferenceSum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfKilometers" class="control-label"></label>
                <input asp-for="NumberOfKilometers" class="form-control" />
                <span asp-validation-for="NumberOfKilometers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
